.scroll-container {
 width: 367px;
 height: auto;
 overflow: hidden;
 font-family: "Mulish", sans-serif;
 margin-right: 70px;
}

.scroll-header {
 display: flex;
 justify-content: space-between;
 margin-bottom: 26px;
}

.scroll-header h3 {
 margin: 0;
 font-size: 36px;
 font-weight: 700;
 color: #19202c;
}

.autoplay-container {
 align-self: flex-end;
 display: flex;
 align-items: center;
 gap: 11px;
}

.autoplay {
 color: #606060;
 background: #eee;
 padding: 4px 8px;
 border-radius: 4px;
}

.autoplay-text {
 font-weight: 700;
 font-size: 16px;
}

.autoplay-toggle {
 position: relative;
 display: inline-block;
 width: 44px;
 height: 28px;
}

.autoplay-toggle input {
 opacity: 0;
 width: 0;
 height: 0;
}

.toggle-slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ebebeb;
 transition: 0.4s;
}

.toggle-slider.round {
 border-radius: 14px;
}

.toggle-slider.round:before {
 border-radius: 50%;
}

.autoplay-toggle input:checked + .toggle-slider:before {
 transform: translateX(15px);
}

.toggle-slider:before {
 position: absolute;
 content: "";
 height: 24px;
 width: 24px;
 left: 2px;
 bottom: 2px;
 background-color: #2196f3;
 transition: 0.4s;
}

.scroll-content {
 height: 100%;
 overflow-y: auto;
}

.scroll-content::-webkit-scrollbar {
 display: none;
}

.scroll-item {
 display: flex;
 flex-direction: column;
 margin-bottom: 16px;
 cursor: pointer;
 width: 367px;
 margin-bottom: 30px;
}

.item-image-container {
 max-width: 100%;
 position: relative;
 flex-shrink: 0;
 border-radius: 14px;
 width: 367px;
 margin-bottom: 12px;
}

.item-image {
 width: 367px;
 height: 213px;
 object-fit: cover;
 border-radius: 14px;
 display: block;
}

.item-timer {
 position: absolute;
 bottom: 10px;
 right: 10px;
 background-color: rgba(0, 0, 0, 0.3);
 color: white;
 padding: 3px 9px;
 border-radius: 12px;
 font-size: 14px;
 font-weight: 400;
}

.item-details {
 display: flex;
 flex-direction: column;
 gap: 9px;
 color: #19202c;
 font-weight: 700;
 font-size: 26px;
}

.item-meta {
 display: flex;
 justify-content: space-between;
 margin-right: 4px;
 color: #c2c2c2;
 font-weight: 400;
 font-size: 18px;
}
@media (max-width: 1919px) {
 .scroll-container {
  width: calc(367px * 0.9);
  margin-right: calc(70px * 0.9);
 }

 .scroll-item,
 .item-image-container,
 .item-image {
  width: calc(367px * 0.7);
 }
}

@media (max-width: 320px) {
 .scroll-container {
  width: 100%;
  height: auto;
 }

 .autoplay-toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 19px;
 }

 .toggle-slider.round {
  border-radius: 8px;
 }

 .autoplay-toggle input:checked + .toggle-slider:before {
  transform: translateX(10px);
 }

 .toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #2196f3;
  transition: 0.4s;
 }

 .item-details {
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: #19202c;
  font-weight: 700;
  font-size: 26px;
 }

 .item-meta {
  display: flex;
  justify-content: space-between;
  margin-right: 4px;
  color: #c2c2c2;
  font-weight: 400;
  font-size: 18px;
 }

 .scroll-header h3 {
  font-size: 20px;
 }

 .autoplay-text {
  font-size: 10px;
 }

 .scroll-item {
  width: 100%;
 }

 .item-image-container {
  width: 100%;
  position: relative;
  flex-shrink: 0;
  border-radius: 14px;
  margin-bottom: 12px;
 }

 .item-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 14px;
  display: block;
 }

 .item-title {
  font-size: 16px;
 }
 .item-meta {
  font-size: 13px;
 }
}
