.video__player-container {
 display: flex;
 flex-direction: column;
 gap: 20px;
 font-family: "Mulish", sans-serif;
 background-color: #fff;
 padding-bottom: 15px;
 border-bottom: 1px solid rgba(216, 216, 216, 0.5);
 margin-bottom: 38px;
}

.player-container {
  position: relative; 
  max-width: 1363px;
  width: 100%;
}

.video{
  max-width: 100%;
  border-radius: 14px;
}

/* @media (max-width: 1024px) {
  .video {
    max-width: 800px;
  }
}

@media (max-width: 1440px) {
  .video {
    max-width: 750px;
  }
} */