.main_content {
 display: flex;
 flex-direction: row;
 margin: 0 70px 0 80px;
 font-family: "Mulish", sans-serif;
 height: auto;
 justify-content: space-between;
}

.content_area {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

@media (max-width: 480px) {
 .main_content {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 0;
 }
 .content_area {
  width: 100%;
  gap: 0;
  margin: 0;
 }
}
