.controls_mobile {
  display: none;
}

@media (max-width: 480px) {
  .controls_mobile {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-between;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    background-color: rgba(61, 61, 61, 0.6);
    border-radius: 10px;
    width: 308px;
    height: 30px;
    z-index: 10;
    margin: 0 6px;
    padding: 0 6px;
    font-size: 10px;
  }

  .controls_mobile img {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .controls_mobile span {
    font-size: 10px;
    color: white;
    white-space: nowrap;
  }

  .progress_line {
    flex-grow: 1;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
  }

  .progress_fill {
    height: 100%;
    background-color: red;
    width: 0%; /* заменяется через JS или inline-style */
    border-radius: 2px;
  }
}
