.video__player-description-mobile {
  display: none;
}

@media (max-width: 480px) {
  .video__player-description-mobile {
    display: block;
    padding-left: 16px; 
  }

  .header_description-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 40px;
  }

  .left_container-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .description-name-mobile {
    font-size: 20px;
    font-weight: 700;
  }

  .description-views-mobile {
    font-size: 12px;
    font-weight: 400;
  }

  .chewron_container button {
    border: none;
    background: none;
    cursor: pointer;
  }

  .arrow_img {
    width: 10px;
    height: 7px;
  }

  .scroll_functional_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 30px;
  }

  .scroll_functional_container::-webkit-scrollbar {
    display: none;
  }

  .func-container-button-mobile {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 100px;
    padding: 10px 20px;
    background: #f0f0f0;
    border: none;
    border-radius: 20px;
    white-space: nowrap;
    cursor: pointer;
  }

  .func-container-button-mobile p {
    font-weight: 400;
    font-size: 16px;
    font-family: "Mulish", sans-serif;
  }
}
